<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <script type="text/javascript" src="../../../dist/main.js"></script>
</head>

<body>

    <header>
        <img id="logo" alt="logo" class="logo">
        <h1 class="navigation">Travel Planner</h1>
    </header>
    <main class="container">
        <section class="form-section">
            <form id="trip-form">
                <div class="form-group">
                    <label for="place">My Trip to:</label>
                    <input type="text" id="place" placeholder="Enter location here">
                </div>
                <div class="form-group">
                    <label for="date">Departing:</label>
                    <input type="date" id="date" placeholder="MM/DD/YYYY">
                </div>
                <button id="generate" type="submit">Save Trip</button>
            </form>
        </section>
        <section id="trip-results" class="trip-results">
            <h1><strong>My Trips:</strong></h1>
            <!-- Trip cards will be inserted here -->
        </section>
    </main>

    <footer>
        <p>Discover the best travel destinations and plan your perfect trip with TravelApp.</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then((reg) => {
                        console.log('Service Worker registered! 😎', reg);
                    })
                    .catch((err) => {
                        console.log('Service Worker registration failed 😥', err);
                    });
            });
        }
    </script>
</body>

</html>