body {
    background-color: #c0eaff;
    color: #2b4a53;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.form-section {
    background-image: url('../media/travel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin-bottom: 10rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #2b4a53;
}