.form-group {
    margin-bottom: 1.5rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #2b4a53;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        color: #2b4a53;
    }

}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #19bcff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #2980b9;
    }
}

.trip-results {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 80%;
}

.trip-card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 1rem 0;

    .trip-image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .trip-details {
        width: 100%;
        padding: 1.5rem;

        .bold-text {
            font-weight: bold;
        }

        h3 {
            margin-top: 0;
            font-size: 1.5rem;
            color: #333;
        }

        p {
            margin: 0.5rem 0;
            font-size: 1rem;
            color: #666;
        }

        .delete-btn {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            width: 50%;
            margin: 1rem 0;
        }

        .delete-btn:hover {
            background-color: #ff1a1a;
        }
    }
}