.form-group {
    margin-bottom: 1.5rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #2b4a53;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        color: #2b4a53;
    }

}

button {
    width: 30%;
    margin: 2rem;
    font-size: medium;
    background-color: #19bcff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #17a2cc;
        transform: scale(1.05);
    }
}

.form-section {
    input {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;

        &:focus {
            border-color: #19bcff;
            outline: none;
            box-shadow: 0 0 5px rgba(25, 188, 255, 0.5);
        }
    }

    h2 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 1rem;
        font-weight: bold;
    }

}