header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: inherit;
    align-items: center;
    color: #2b4a53;
    position: fixed;
    background-color: #19bcff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    .logo {
        width: 200px;
        height: auto;
        margin-top: -30px;
    }

    .navigation {
        color: #2b4a53;
        font-family: Georgia, serif;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem;
    }
}