header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    align-items: center;
    color: #2b4a53;
    font-size: 2rem;
    font-weight: 700;

    .logo {
        width: 200px;
        height: auto;
        margin-top: -30px;
    }

    .navigation {
        color: #2b4a53;
        font-family: Georgia, serif;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem;
    }
}